/DataStructures/InJava/SelfArrangingLinkedList/target/
/DataStructures/InJava/OneWaySelfArrangingLinkedList/target/
/DataStructures/InJava/CircularOneWaySelfArrangingLinkedList/target/
/DataStructures/InJava/CircularDualWaySelfArrangingLinkedList/target/
/DataStructures/InJava/LinkedStack/target/
/DataStructures/InJava/ArrayStack/target/
/DataStructures/InJava/ArrayQueue/target/
/DataStructures/InJava/LinkedQueue/target/
/DataStructures/InJava/BinaryTree/target/
